<h3>You're viewing: <%= @post.title %> </h3>
<h5>Post:</h5>
<p><%= @post.description %></p>
<h5>URL:</h5> 
<%= @post.url %>

<div>
	<h5>New Comment</h5>
	<%= render 'shared/errors', obj: @comment %>
	<%= form_for [@post, @comment] do |f| %>
		<%= f.label :body %>
		<%= f.text_area :body %>
		<br>
		<%= f.submit "Create Comment" %>
	<% end %>
</div>

<h5>Comments:</h5>
<ul>
	<% @post.comments.each do |comment| %>
		<li><%= comment.body %></li>
	<% end %>
</ul>
